/* Reset and global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #00ff51;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}



/* Section styles */



#section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section p {
  font-size: 100px;
  text-align: center;
  position: relative;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  left: 200px;
}

#section .dot {
  background-color: var(--bg-color);
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
}

.dot .scroller {
  position: relative;
  color: white;
  height: 5rem;
  width: 100%;
}



/* Header styles */




.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 12%;
  background-color: #0005025f;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

/* #menu-icon styles for responsive menu */

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

.logo {
  width: 10%;
  /* font-size: 3rem;
  font-weight: 800;
  color: var(--text-color); */
  cursor: pointer;
  transition: 0.3s, ease;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  color: var(--main-color);
}

/* Navbar styles */

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}

/* Home section styles */

section {
  min-height: 100vh;
  padding: 10rem 12%;
}

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;

}

.home-content h3 {
  font-size: 4rem;
  margin: 1rem 0;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  /* animation: hello 0.3s ease-in infinite; */
}

/* @keyframes hello {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(-10px);
  }
} */

/* Hover effect for home image */

.home-img img:hover {
  box-shadow: 0 0 50px var(--main-color),
    0 0 100px var(--main-color),
    0 0 150px var(--main-color);
}

/* Social icons styles */

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

/* Button styles */

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

/* About section styles */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--second-bg-color);
}

.about-img img {
  width: 12vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.about-img img:hover {
  box-shadow: 0 0 50px var(--main-color),
    0 0 100px var(--main-color),
    0 0 150px var(--main-color);
}

.about-content h2 {
  font-size: 7rem;
  text-align: left;
}

.about-content p {
  font-size: 1.8rem;
}

.about-content .btn {
  margin: 3rem 0;
}

::-webkit-scrollbar {
  width: 20px;
  /* border-radius: 50%; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Skills section styles */


.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.skill {
  background-color: rgb(28, 40, 28);
  color: black;
}

.skill h2 {
  color: var(--text-color);
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 200px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.skill-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(2);
}

.skill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.skill-info i {
  font-size: 8rem;
}

.skill-info h4 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 800;
}

/* Service section styles */

.service {
  background-color: var(--bg-color);
  color: black;
}

.service h2 {
  color: var(--text-color);
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.service-info i {
  font-size: 8rem;
}

.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}



.project{
  display: flex;
  align-items: center;
  justify-content: center;
}
.project h1{
  position: absolute;
  font-size: 80px;
  margin-top: 100px;
  z-index: 1;
}




.main_manu {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: #000;
  display: flex;
  flex-direction: column; /* Stack images and SVG vertically */
  align-items: center;    /* Center-align content */
  justify-content: center;
}

.pic {
  cursor: pointer;
  position: absolute;
  border: solid 10px #fff;
  user-select: none;
  border-radius: 9px;
}

 .menu {
  cursor: pointer;
  position: static; /* Ensure the SVG follows the flow of content */
  margin-top: 80vh; /*Add spacing between images and SVG */
} 

.main img {
  position:absolute;
  width: 30vw;
  /* max-width: 400px;  */
} 









.contact {
  background-color: var(--second-bg-color);

}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer {
  background-color: var(--bg-color);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
}


/* responsive website */

@media (max-width:1024px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.441);
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-img img {
    width: 52vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 50vw;
  }

  .contact form {
    flex-direction: column;
  }
}

@media(max-width:1000px){
  #section p{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50px;
    flex-direction: column;
  }

}
@media(max-width:700px){
  #section p{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    flex-direction: column;
    font-size: 60px;
  }
}
@media(max-width:700px){
  body{
    overflow: hidden;
  }
}

